*{
	background: black;
	font-family: Roboto, Arial, sans-serif;
	overflow-y: hidden;
}

img{
	width: 20%;
	border-radius:50%;
	align-content: left;
}
a{
	text-decoration: none;
	color: rgb(181,230,29);
	font-weight: 900;
	font-size: 300%;
}
a:hover {
	color: white;
}